<div class="container-fluide bloc-note">
  <div class="row d-flex justify-content-between">
        <div class="col-lg-4 col-md-6 col-xs-12">
            <h2 class="text-center add-categorie bg shadow inv-shadow" data-toggle="modal" data-target="#exampleModalCenter">Nouvelle categorie</h2>
        </div>
    <% @blocnotes.each_with_index do |bloc, k| %>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <h2 class="list-title text-center bg shadow" style="color:#<%= bloc.color %>" id="title<%=k%>"><%= bloc.title %></h2>
            <ul class="list bg shadow" id="<%=k%>">
            <% Notte.where(block_id:bloc.id).each do |note| %>       
                <li class="d-flex justify-content-between bg inv-shadow">
                  <%= note.content %>
                  <span class="mr-2">
                  <%= form_tag block_notte_path(bloc.id, note.id), method: "delete" do %>
                    <%= submit_tag "Supprimer", class: 'btn-delete bg shadow inv-shadow'%>
                  <% end %>
                  </span>
                </li>      
            <% end %>
            <%= form_tag block_notte_index_path(bloc.id), method: "post" do %>
                <input type="hidden" name="authenticity_token" value= <%= form_authenticity_token %> >
                <%= text_field_tag :note, "",placeholder: 'Ajouter une note', class: 'bg note-input'%>
                <%= submit_tag "Valider", class: 'btn  btn-add-note align-self-center bg shadow inv-shadow'%>
            <% end %>
            <%= form_tag block_path(bloc.id), method: "delete" do %>
                <%= submit_tag "Supprimer", class: 'btn-delete-cat bg shadow inv-shadow'%>
            <% end %>
            </ul>
        </div>
    <% end %>
  </div>
</div>






<div class="modal fade text-dark" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="text-center" id="exampleModalLongTitle">Nouvelle catégorie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <%= form_tag url_for(action:'create'), method: "post" do %>
          <div class="d-flex flex-column">
            <%= text_field_tag :title, "",placeholder: 'Titre catégorie', class: 'modal-title modal-input'%>
            <%= text_field_tag :color, "",placeholder: 'Couleur titre, ex:#00D9C0', class: 'modal-color modal-input'%>
          </div>
          <div class="text-center">
              <%= submit_tag("Créer", class: "btn-modal") %>
          </div>
    
        <% end %>
        </div>
      </div>
    </div>
</div>