<div class="log-in-container">
  <h1>Sign up</h1>  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field field1 ">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'e-mail' %>
    </div>

    <div class="field field2">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'new password' %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    </div>

    <div class="field field2">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'password confirmation' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

<%= render "devise/shared/links" %>
