<div class="log-in-container">
  <h1 class="text-center">Log in</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field1 field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email' %>
    </div>

    <div class="field2 field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'password' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field field3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
